@charset "UTF-8";

@media screen and (min-width: 1200px) {
  
  header {
    padding: 15px;
  }
  
  header > h1 {
    font-size: 1.5em;
    height: 50px;
  }
  .inicio {
    background-image: url(../midia/Fundo-Verde.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    padding: 50px;
    
  }
    .col {
      width: 50vw;
    }

    .grupo-01 {
      display: flex;
      flex-direction: row;
    }
    
    footer {
      display: flex;
      flex-direction: row;
      padding: 50px;
      
    }

    .img-footer > img {
      width: 100px;
      margin-right: 10px;
      
    }
      .footer-2 {
        margin-left: 25px;
        margin-right: -50px;
      }
    .links-footer {
      width: 200px;
      margin-bottom: 15px;
    }
    .botao-footer {
      margin-bottom: 50px;
    }
    .links-footer > a > p {
      font-size: 0.8em;
    }
    .main-2 {
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
      
    }
    .main-2 > h3 {
      margin-left: 5%;
    }
    .main-2 > p {
      font-size: 1vw;
      margin-left: 5%;
    }
     .img-main2 {
    margin-top: -18%;
     margin-left: 760px;
     
     }
     .img-main2 > img {
      width: 30vw;
     }
.img-prod > img{
  width: 49vw;
  margin-left: 50%;
  transform: translate(-50%);
}
    .aviso-footer {
      width: 150px;
    }
    .aviso-footer > p {
      font-size: 0.8em;
    }
    .footer-4 {
      margin-bottom: 80px;
      margin-right: -50px;
      margin-left: -150px;
    }
.footer-4 > img {
  width: 300px;
}
.footer-4 > h4 { 
  width: 450px;
  text-align: center;
  margin-bottom: 22px;
}

.footer-5 > h4 {
text-align: center;
margin-bottom: 10px;
}
.certificado-1 {
  margin-bottom: 0px;
}
.certificado-2 {
  margin-bottom: 60px;
}
.footer-3 {
  margin-right: -10px;
}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .inicio {
      background-color: #006005;
    }

    
}

