@charset "UTF-8";

@media screen and (min-width: 1200px) {

    html, body {
        background-color: #4D9B44;
    }
    .col {
        place-self: center;
        width: 40vw;
        padding: 10px;
        border-radius: 1rem;
        margin-top: 100px;
        padding-bottom: 200px;
        margin-right: 50px;
      }
    .botao-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header > h1 {
        font-size: 1.5em;
        padding: 5px;
    }
    .inicio {
        
        background-image: url(../midia/planodefundo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
      }

      

      .img-simula {
        display: flex;
        flex-direction: row;
        width: 400px;

      }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .col {
        place-self: center;
        width: 60vw;
        padding: 10px;
        border-radius: 1rem;
        margin-top: 100px;
        padding-bottom: 200px;
        margin-right: 50px;
      }
    .botao-1 {
        top: 75%;
    }

    header > h1 {
        font-size: 1.5em;
        padding: 5px;
    }
    .inicio {
        background-image: url(../midia/planodefundo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
      }
}