@charset "UTF-8";

@media screen and (min-width: 1200px) {
    .col {
        place-self: center;
        width: 44vw;
        padding: 10px;
        border-radius: 1rem;
        margin-top: 100px;
        padding-bottom: 200px;
        margin-right: 50px;
      }
    .botao-1 {
        top: 77%;
    }

    header > h1 {
        font-size: 1.5em;
        padding: 5px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .col {
        place-self: center;
        width: 60vw;
        padding: 10px;
        border-radius: 1rem;
        margin-top: 100px;
        padding-bottom: 200px;
      }
    .botao-1 {
        top: 75%;
    }

    header > h1 {
        font-size: 1.5em;
        padding: 5px;
    }
}